<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Hello from EJS</h1>
    <div>
      <% data.map((element)=>{ %>
      <p>
        Tiny URL is : <b> <%=element.tinyurl %> </b>, Redirect URL is
        <b><%= element.redirecturl%> </b> and the number of clicks are
        <b><%= element.timestamp.length %> </b>
      </p>
      <% }) %>
    </div>
  </body>
</html>
